.home-container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.body-container {
    background: #EAEDED;
    margin: 0 auto;
}

.body {
    height: 600px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2021/NYNY/Fuji_TallHero_NYNY_en_US_1x._CB412256579_.jpg");
    overflow: hidden;
}

.body-hero-image {
    width:100%;
    height: 600px;
}

.body-price {
    font-size:15px; 
    font-family: sans-serif; 
    margin-left: 15px;
}

.body-discount {
    margin-top: 2px; 
    font-size: 10px; 
    font-family: sans-serif; 
    background-color: #ffffff; 
    color: #CC0C39; 
    -webkit-box-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    font-weight: 700; 
    line-height: 12px; 
    position: relative;
}

.body-hero-product {
    font-family: sans-serif; 
    margin-left: 15px; 
    font-size: 11px!important; 
    background-color: #CC0C39; 
    color: #ffffff; 
    border-radius: 2px; 
    font-weight: 400; 
    line-height: 12px; 
    margin-right: 6px; 
    padding: 4px 6px; 
    position: relative;
}

.body-hero-container {
    width: 266px; 
    height: 300px; 
    cursor: pointer;
}

.body-hero-background {
    z-index: -1;
}

.body-hero-arrows {
    position: relative;
}

.body-hero-arrow-left {
    position: absolute; 
    top: 100px; 
    left: 2%; 
    width: 34px; 
    height: 52px;
}

.body-hero-arrow-left:hover { 
    cursor:pointer;
}

.body-hero-arrow-right {
    position: absolute; 
    top: 100px; 
    right: 2%; 
    width: 34px; 
    height: 52px;
}

.body-hero-arrow-right:hover { 
    cursor:pointer;
}

.body-hero-containers {
    display: grid;
    grid-template-columns: 15px 371px 371px;
    grid-template-rows: 111px 111px 111px;
}
.body-hero {
    display: flex;
}

.body-listprice {
    font-size:  11px!important;
    line-height: 16px!important; 
    color: #565959!important; 
    margin-left: 15px;
}

.body-full-price {
    text-decoration: line-through; 
    font-family: sans-serif;
    color: #565959; 
    font-size: 11px; 
    margin-left: 5px;
}

.body-hero-container-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: rgb(255, 255, 255);
    height: 357px;
    width: 350px;
    margin-left: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.body-hero-heading-1 {
    font-size: 20px; 
    margin: 0 15px;
}

.body-hero-image-1 {
    width: auto;
    height: auto;
    margin: 0px 89px;
    text-align: center;
    max-width: 270px;
    max-height: 256px;
}

.body-hero-container-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: rgb(255, 255, 255);
    height: 357px;
    width: 350px;
    margin-left: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.body-hero-container-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background: rgb(255, 255, 255);
    height: 357px;
    width: 350px;
    margin-left: 5px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.demo-container {
    display:flex;
    position: fixed;
    margin-top:30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    width: 40%;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
}

.demo-span {
    text-align: center;
    padding: 16px;
}

.demo-button {
    border-radius: 8px;
    width: 120px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #FFD814;
    border-color: #FCD200;
    color: #111;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}