.header-menu-container-top {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    top: 0;
    z-index: 88;
}
.header-menu-left {
    display:flex;
}
.header-menu-logo-container {
    display:flex;
    padding-right: 15px;
}

.header-menu-logo-container:hover {
    cursor: pointer;
}
.header-menu-logo {
    object-fit: contain;
    margin-left: 11px;
}
.header-menu-logo-country {
    color:#fff;
   font-size: 11px;
    margin-top: 5px;
}
.header-menu-location {
    width: 15px;
    height: 18px;
    margin-top: 10px;
    padding-right: 2px;
}
.header-menu-address {
    display: flex;
    flex-direction: column;
}
.header-menu-address-top {
   color:#ccc;
   font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 2px;
}
.header-menu-address-bottom {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    font-family: sans-serif;
    cursor: pointer;
}
.header-menu-center{
    margin-left: 15px;
    display: flex;
    flex: 1;
}
.header-menu-search-bar {
    display:flex;
    flex: 1;
}
.header-menu-category-dropdown {
    background-color: #f3f3f3;
    height:33px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #cdcdcd;
    width:54px;
}
.header-menu-category-container{
    display: flex;
    margin-left: 10px;
}
.header-menu-category-text {
    font-size: 12px;
    font-family: sans-serif;
    color: grey;
    margin-top: 10px;
}
.header-menu-category-img {
    height: 5px;
    margin-left: 9px;
    margin-top: 13px;
}
.header-menu-input {
    border:none;
    width:100% 
}
.header-menu-search-button {
    background-color: #febd69;
    width:47px;
    height:35px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    display: flex;
}
.header-menu-search-button-icon {
    height: 24px;
    margin-top: 5px;
    margin-left:5px;
}
.header-menu-right {
    display:flex;
    margin-right:15px;
}
.header-menu-flag {
    height:21px;
    margin-left:10px;
    margin-top:10px;
}
.header-menu-flag-dropdown {
    margin-left:5px;
    height: 9px;
    margin-top: 20px;
    margin-right: 15px;
}
.header-menu-cart-container{
    position: relative;
    cursor: pointer;
}
.header-menu-cart-quantity{
    color: #ff9900;
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    left: 14px;
    font-family: system-ui;
    margin-left: 7px;
    position: absolute;
}

