.header-menu-signin{
    display: block;
    position: absolute;
    top: 88%;
    right: 8%;
    width: 159px;
    height: 86px;
    border-radius: 3px 3px 3px 3px;
    overflow: visible!important;
    background: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 14px;
    margin: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
 }
 
 .header-menu-signin-nav-arrow{
    left: 50%;
    margin-left: -9px;
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #ccc;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
 }
 
 .header-menu-signin-nav-inner-arrow{
    border-style: solid;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #fff;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 1px;
    left: -9px;
 }
 
 .header-menu-signin-nav-tooltip{
    text-align: center;
 }
 
 .header-menu-signin-nav-tooltip-footer{
    padding-top: 10px;
    color: #333;
    font-size: 11px;
    display: flex;
    justify-content: center;
    margin-top: 58px;
    font-family: sans-serif;
 }
 
 .header-menu-signin-nav-tooltip-footer-link{
    color: #05a;
    text-decoration: none;
    padding-left: 3px;
    font-family: sans-serif;
 }
 
 .header-menu-signin-nav-signin{
    display: block;
    height: 29px;
    width: 111px;
    top: 17%;
    right: 8%;
    position: fixed;
    margin: 0 10px 0 11px;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-radius: 0\9;
    -webkit-box-shadow: inset 0 1px 0 0 #fcf3dc;
    -moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    background: #f3cf72;
    background: linear-gradient(to bottom,#f8e3ad,#EEBA37);
    background: -moz-linear-gradient(top,#f8e3ad,#EEBA37);
    background: -webkit-linear-gradient(top,#f8e3ad,#EEBA37);
    background: -o-linear-gradient(top,#f8e3ad,#EEBA37);
    background: -ms-linear-gradient(top,#f8e3ad,#EEBA37);
    text-align: center;
    line-height: 31px;
    color: #111;
    font-family: inherit;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
 }