@import '../../constants.css';

.header-container-cart {
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 0 9px 0 15px;
    overflow: hidden;
    border-bottom: 1px solid var(--mediumgrey);
    border-top: 1px solid var(--mediumgrey);
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    white-space: nowrap;
    height: 33px;
    background: var(--white);
}

.header-container-cart-text {
    position: relative;
    float: left;
    height: 31px;
    line-height: 33px;
    color: var(--black);
    font-size: 12px;
    padding: 0 11px;
}

.header-cart-text {
    font-family: var(--font);
    font-size: 12px;
    height: auto;
    line-height: 33px;
}