.sidebar-container {
    background: white;
    position: absolute;
    top: 0;
    width:365px;
    z-index: 89;
}

.sidebar-header {
    background-color: #232f3e;
    height: 50px;
    width: 365px;
    align-items: center;
    display: flex;
    position: absolute; 
    top: 0;
}

.sidebar-cancel {
    position: absolute;
    left: 371px;
    top: 17px;
    background: rgba(0, 0, 0, 0.5);
}

.sidebar-cancel:hover {
    cursor: pointer;
}

.sidebar-avatar {
    margin: 0 10px 0 36px;
}

.sidebar-username > b {
    font-size: 19px;
    color: #FFFFFF;
    font-family: sans-serif;
}

.menu-content {
    position: relative;
    overflow-x: hidden;
    height: 100%;

}

.menu-unorderedlist {
    padding-top: 55px;
    padding-bottom: 11px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu-unorderedlist > h4{
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #111;
    text-transform: capitalize;
    display: inline-block;
    padding-right: 20px;
    padding-left: 36px;
    padding-top: 13px;
}

.menu-unorderedlist > a {
    text-decoration: none;
    color: #111;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 36px;
    padding-top: 13px;
    font-size: 12px;
}

.menu-unorderedlist > a > div {
    display: flex;
}

.menu-unorderedlist > a > div > img {
    margin-left: auto;
    width: 10px;
    height: 14px;
    transform: scaleX(1);
}

.menu-unorderedlist > a > img {
    margin-left: 10px;
    height: 8px;
    width: 13px;
}

.menu-unorderedlist > a:hover {
    background-color: #eaeded;
    cursor: pointer;
}

.menu_divider {
    border-bottom: 1px solid #d5dbdb;
    padding: 0;
    margin: 5px 0;
}

.menu-globe-icon {
    width: 15px;
    height: 15px;
    margin-left: 0;
    margin-right: 10px;
}

.menu-flag-icon {
    width: 20px;
    height: 15px;
    margin-left: 0;
    margin-right: 5px;
}